{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="card col-lg-3" id="urlForm">
        <div class="card-header">
            <h2>URL Shortener</h2>
            <p>Welcome: {{ user_email }}</p>
        </div>
        <form action="product/addurl" method="POST">
            <div class="card-body">
                <div class="form-group">
                    <input class="form-control" type="text" id="long" name="long" required>
                    <label for="long">Full URL: </label>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="short" name="short" required>
                    <label for="short">Short Name: </label>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Shorten</button>
            </div>
        </form>
    </div><br/>
    <div class="col-lg-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Shortened URL: </th>
                    <th>Long URL: </th>
                    <th>Delete: </th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>{{ url.short }}</td>
                    <td>{{ url.long }}</td>
                    <td>
                        <form method="POST" action="product/delurl">
                            <input type="hidden" name="long" value="{{ url.long }}">
                            <input type="hidden" name="short" value="{{ url.short }}">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}